@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --doc-height: 100%;
}


 html {
     background-color: #0b0b0b;
     scroll-behavior: smooth;
     color: white;
     --doc-height: 100%;
 }







